{% extends 'base.html' %}
{% load static %}

{% block title %}
Groups
{% endblock title %}
{% block style %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'user/css/cont.css' %}">

<style>
    body {
        background: #4b6cb7;
        background: -webkit-linear-gradient(to left, #333270, #3e3d88);
        background: linear-gradient(to left, #333270, #3e3d88);
    }

    .row {
        margin-top: 70px;
    }
</style>
{% endblock style %}

{% block script %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'user/js/cont.js' %}"></script>
{% endblock script %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">All Groups</span>
                    <ul class="pull-right c-controls">
                        <li><a href="{% url 'creategroup' %}" data-toggle="tooltip" data-placement="top"
                                title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                       
                    </ul>
                </div>

                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span
                                        class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="list-group" id="contact-list">
                    {% for group in groups %}
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-9">
                            <span class="name"><a href={{ group.get_absolute_url}}>{{ group.gname }}</a></span><br />

                        </div>
                        <div class="clearfix"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">Ooops!!!</h4>
                </div>
                <div class="modal-body">
                    <p>I am being lazy and do not want to program an "Add User" section into this snippet... So it
                        looks like you'll have to do that for yourself.</p><br />
                    <p><strong>Sorry<br />
                            ~ Mouse0270</strong></p>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScrip Search Plugin -->
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

</div>
{% endblock body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/cont.css' %}">
    <script src="{% static 'user/js/cont.js' %}"></script>
</head>

<body>

    <!------ Include the above in your HEAD tag ---------->

    <!-- <a href="http://bootsnipp.com/mouse0270/snippets/4l0k2" class="btn btn-danger hide" id="back-to-bootsnipp">Back to
        Bootsnipp</a> -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading c-list">
                        <span class="title">All Groups</span>
                        <ul class="pull-right c-controls">
                            <li><a href="{% url 'creategroup' %}" data-toggle="tooltip" data-placement="top"
                                    title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                            <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip"
                                    data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></li>
                        </ul>
                    </div>

                    <div class="row" style="display: none;">
                        <div class="col-xs-12">
                            <div class="input-group c-search">
                                <input type="text" class="form-control" id="contact-list-search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span
                                            class="glyphicon glyphicon-search text-muted"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group" id="contact-list">
                        {% for group in groups %}
                        <li class="list-group-item">
                            <div class="col-xs-12 col-sm-3">
                                <img src="{{ group.gimg.url }}" alt="Scott Stevens" class="img-responsive img-circle" />
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <span class="name"><a
                                        href={{ group.get_absolute_url}}>{{ group.gname }}</a></span><br />

                            </div>
                            <div class="clearfix"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
            aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="mySmallModalLabel">Ooops!!!</h4>
                    </div>
                    <div class="modal-body">
                        <p>I am being lazy and do not want to program an "Add User" section into this snippet... So it
                            looks like you'll have to do that for yourself.</p><br />
                        <p><strong>Sorry<br />
                                ~ Mouse0270</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScrip Search Plugin -->
        <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

    </div>
</body>

</html>