{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/css/formtext.css' %}">
{% endblock style %}

{% block body %}
<br>
<br>
<br>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Contact</legend>
            {{ form.media }}
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
{% endblock body %}