:root {
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: #4b6cb7;
    background: -webkit-linear-gradient(to left, #333270, #3e3d88);
    background: linear-gradient(to left, #333270, #3e3d88);
}

.create-group-form {
    margin-top: 70px;
}

.create-group-form .form-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px 30px;
    overflow: auto;
}

.create-group-form .form-container label {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
}

.create-group-form .form-container input {
    display: block;
    width: 100%;
    padding: 2px 5px;
    height: 30px;
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    outline: none;
    border-radius: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    transition: all .1s ease-in-out;
}

.create-group-form .form-container input:focus {
    border: 1px solid #0083B0;
    transition: all .02s ease;
}

.create-group-form .form-container input:hover {
    transform: scale(1.01);
    transition: all .1s ease-in-out;
}

.create-group-form .form-container input[type=submit] {
    float: right;
    width: 100px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #0275d8;
    border-radius: 50px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.create-group-form .form-container input[type=submit]:focus {
    border: 1px solid lightblue;
}

.create-group-form .form-container input[type=submit]:hover {
    background-color: #0275d8;
    color: rgba(255, 255, 255, 1);
    transition: .07s;
    filter: blur(.0px);
    transform: scale(1.048);
    -webkit-font-smoothing: subpixel-antialiased;
}