body {
    background: #4b6cb7;
    background: -webkit-linear-gradient(to left, #333270, #3e3d88);
    background: linear-gradient(to left, #333270, #3e3d88);
    color: #fff;
}

label {
    color: #fff;
}