{% extends 'base.html' %}

{% load static %}

{% block title %}
Template
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'user/css/formtext.css' %}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'Campaign/css/text_form.css' %}">
{% endblock style %}

{% block script %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'user/css/cont.css' %}">
<script src="{% static 'user/js/cont.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="row" id="test">
    <div class="template-container col-4">
        <div class="template-display">
            <h1>Template</h1>
        </div>
    </div>
    <div class="col-8">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" />
        </form>
    </div>
</div>
{% endblock body %}


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'user/css/formtext.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'user/css/cont.css' %}">
    <script src="{% static 'user/js/cont.js' %}"></script>
</head>

<body>
    <div class="row">
        <div class="col-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </div>
    </div>
</body>

</html> -->