{% extends 'base.html' %}
{% load static %}

{% block title %}
Meet the Team
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'user/css/team.css' %}">
{% endblock style %}

{% block body %}
<section class="team-page">
    <div class="team-wrapper">
        <div class="row">
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/suneil.jpg' %}" alt="Image not found...!">
                <div class="member-name">Suneil Stanly</div>
                <div class="member-title">Project Mentor</div>
                <a href="https://www.linkedin.com/in/suneilstanly/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Stanly has a broad functional experience leading Strategic Planning,
                    Stakeholder Management, Creative Problem Solving, and Software Development Lifecycle Projects;
                    assessing employee behaviors; defining digital strategies to build the clients' brand. He has
                    immensely helped the team to overcome challenges.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/shalin.jpg' %}" alt="Image not found...!">
                <div class="member-name">Shalin Suthar</div>
                <div class="member-title">Project Lead</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2021)</p>
                    <p>L.D. COLLEGE OF ENGINEERING, Ahmedabad, Gujarat</p>
                </div>
                <a href="https://www.linkedin.com/in/shalinsuthar" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Shalin is pursuing bachelor's degree in Computer science field. He is very
                    inquisitive in fields
                    related to Python and Data science. His daily work included planning and discussing project flow
                    and reporting the client. He has sucessfully managed and guided team till deplyment.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/hrithik1.png' %}" alt="Image not found...!">
                <div class="member-name">Ritik Thool</div>
                <div class="member-title">Backend Developer</div>
                <div class="member-detail">
                    <p>B.Tech IT (2022)</p>
                    <p>Government College of Engineering, Aurangabad, Maharashtra</p>
                </div>
                <a href="https://www.linkedin.com/mwlite/in/ritik-thool-492003186" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Ritik is pursuing bachelor's degree in Information Technology. He was quite competent and enthusiastic as a backend
                    Django developer. He has alleviated a lot of load from team using his brilliance and expertise. He has a good problem 
                    solving skills.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/devika.jpeg' %}" alt="Image not found...!">
                <div class="member-name">Devika Kshetrapal</div>
                <div class="member-title">Frontend Developer</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2020)</p>
                    <p>Dr. CV Raman University, Bilaspur, Chattisghar</p>
                </div>
                <a href="https://www.linkedin.com/in/devika-kshetrapal-98977016a" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Devika kshetrapal holds b.e specialized in computer science. She worked as a front end
                    developer.She is Enthusiastic about designing websites.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">

                <img src="{% static 'user/img/team/satyam.jpeg' %}" alt="Image not found...!">
                <div class="member-name">Satyam Pawar</div>
                <div class="member-title">Backend Developer</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2017)</p>
                    <p>TSSM BSCOER, Pune, Maharashtra</p>
                </div>
                <a href="https://www.linkedin.com/in/satyam-pawar-99660214b" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    He is working as a Software Developer. He is passionate about his work. He has Handled his part
                    smartly, efficiently and coordinated with team.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/ashsish.jpg' %}" alt="Image not found...!">
                <div class="member-name">Ashish Dixit</div>
                <div class="member-title">Backend Developer</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2020)</p>
                    <p>SKN Sinhgad Institute of Technology and Science, Lonavala, Maharashtra</p>
                </div>
                <a href="https://www.linkedin.com/in/ashish-dixit-1ab800174/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Ashish Dixit holds a computer science bechelor's degree. He has worked on backend part and
                    contributed towards overall progress of team.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/sameeksha.jpeg' %}" alt="Image not found...!">
                <div class="member-name">Sameeksha Yadav</div>
                <div class="member-title">Frontend Developer</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2021)</p>
                    <p>Babu Banarasi Das Engineering College, Lucknow, Uttar Pradesh</p>
                </div>
                <a href="https://www.linkedin.com/in/sameeksha-204yadav" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    She is B.tech student. Eager to learn new technologies.She is go -getter and intend to put in her
                    efforts towards channelizing her knowledge and skills while moving ahead with her career.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/gowtham.jpg' %}" alt="Image not found...!">
                <div class="member-name">Gowtham Pollam</div>
                <div class="member-title">Backend Developer</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2022)</p>
                    <p>VIT, Vellore, Tamil Nadu</p>
                </div>
                <a href="http://www.linkedin.com/in/gowthampollam" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Gowtham Pollam holds Bachelor's degree in computer science. He has helped the team in designing
                    backend part.
                </div>
            </div>
            <div class="member col-12 col-md-6 col-lg-4 disabled-text">
                <img src="{% static 'user/img/team/miraaj.jpg' %}" alt="Image not found...!">
                <div class="member-name">Miraaj Kadam</div>
                <div class="member-title">Frontend Developer</div>
                <div class="member-detail">
                    <p>B.Tech CSE (2021)</p>
                    <p>Amity University, Mumbai</p>
                </div>
                <a href="https://www.linkedin.com/in/miraajkadam/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class="member-desc">
                    Miraaj joined EDD team as a frontend developer for the application to help out with already
                    existing UI. He made twerks and upgrades to increase application user exprience and improvements in
                    overall look and feel. Other than EDD he was heavily involved in Tink's myContact iCMS web
                    application for designing and developing its frontend structure from scratch.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

<!-- Previous HTML -->

<!--
{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .maindiv {
            float: left;

            width: 50%;
            margin-bottom: 16px;
            padding: 0 8px;

        }

        .maindiv2 {
            float: right;

            width: 50%;
            margin-bottom: 16px;
            padding: 0 8px;

        }


        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 0 16px;
        }

        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }

        .pic {
            max-width: 250px;
            max-height: 250px;
            border-radius: 30%;
        }
    </style>
</head>

<body>

    <center>
        <h1> Our Team</h1>
    </center>
    <div class="row">
        <div class="maindiv">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/suneil.jpg' %}" alt="Suneil Stanly"
                        style="width:100%"></center>
                <div class="container">
                    <h2>Suneil Stanly</h2>
                    <p class="title">Project Mentor</p>
                    <p>Stanly has a broad functional experience leading Strategic Planning, Stakeholder Management,
                        Creative Problem Solving, and Software Development Lifecycle Projects; assessing employee
                        behaviors; defining digital strategies to build the clients' brand. He has immensely helped the
                        team to overcome chaallenges.</p>
                    <p>suneil.stanly@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="maindiv2">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/shalin.jpg' %}" alt="Shalin Suthar"
                        style="width:100%"></center>
                <div class="container">
                    <h2>Shalin Suthar</h2>
                    <p class="title">Project Leader</p>
                    <p>Shalin is pursuing bachelor's degree in Computer science field. He is very inquisitive in fields
                        related to Python and Data science. His daily work included planning and discussing project flow
                        and reporting the client. He has sucessfully managed and guided team till deplyment.</p>
                    <p>shalinsuthar2000@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">


        <div class="column">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/hrithik1.png' %}" alt="Ritik Thool"
                        style="width:100%"></center>
                <div class="container">
                    <h2>Ritik Thool</h2>
                    <p class="title">Backend Developer</p>
                    <p>He is persuing computer science degree. He was quite competent and enthusiastic as a backend
                        Django developer. He has alleviated a lot of load from team using his brilliance and expertise.
                    </p>
                    <p>ritikthool2000@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/devika.jpeg' %}" alt="Devika" style="width:100%">
                </center>
                <div class="container">
                    <h2>Devika Kshetrapal</h2>
                    <p class="title">Frontend Developer</p>
                    <p>Devika kshetrapal holds b.e specialized in computer science. She worked as a front end
                        developer.She is Enthusiastic about designing websites.</p>
                    <p>devikakshetrapal0504@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/satyam.jpeg' %}" alt="Satyam Pawar"
                        style="width:100%"></center>
                <div class="container">
                    <h2>Satyam Pawar</h2>
                    <p class="title">Backend Developer</p>
                    <p>He is working as a Software Developer. He is passionate about my work. He has Handled his part
                        smartly, efficiently and coordinated with team.</p>
                    <p>pawarsatyam8484@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>


    </div>


    <div class="row">


        <div class="column">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/ashsish.jpg' %}" alt="Ashish" style="width:100%">
                </center>
                <div class="container">
                    <h2>Ashish Dixit</h2>
                    <p class="title">Beackend Developer</p>
                    <p>Ashish Dixit holds a computer science bechelor's degree. He has worked on bakcend part and
                        contributed towards overall progress of team.</p>
                    <p>ashudixit97@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/sameeksha.jpeg' %}" alt="Sameeksha"
                        style="width:100%"></center>
                <div class="container">
                    <h2>Sameeksha Yadav</h2>
                    <p class="title">Frontend Developer</p>
                    <p>She is B.tech student. Eager to learn new technologies.She is go -getter and intend to put in her
                        efforts towards channelizing her knowledge and skills while moving ahead with her career.</p>
                    <p>sameeksha204@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center><img class="pic" src="{% static 'user/img/team/gowtham.jpg' %}" alt="John" style="width:100%">
                </center>
                <div class="container">
                    <h2>Gowtham Pollam</h2>
                    <p class="title">Backend Developer</p>
                    <p>Gowtham Pollam holds Bachelor's degree in computer science. He has helped the team in designing
                        backend part.</p>
                    <p>gowthampollam@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
-->